<h1>Ryan's URL Shortener</h1>
<% if @short_url %>
  <%= label_tag 'short_url', "Your short URL: #{short_url_link(@short_url)}" %>
<% end %>

<%= form_tag('/short_urls') do %>
    <%= text_field_tag :original_url %>
    <%= submit_tag 'Shortify URL' %>
<% end %>
